@using SurveyManager.Domain.Model.Implementation
@model IEnumerable<Modulo>

@{Layout = "";}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Modulo modulo in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => modulo.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(i => modulo.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = modulo.Id }, null)
                    |
                    @Html.ActionLink("Excluir", "Delete", new { id = modulo.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>