@model IEnumerable<SurveyManager.Domain.Model.Implementation.Administrador>

@{
    ViewBag.Title = "ListarAdministrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar Administrador</h2>

<p>
    @Html.ActionLink("Novo Administrador", "CreateAdministrador", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
