@model IEnumerable<SurveyManager.Domain.Model.Implementation.Turma>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar Turmas</h2>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fim)
        </th>
        <th>
            Módulo
        </th>
        <th>
            Bloco
        </th>
        <th>
            Curso
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modulo.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modulo.Bloco.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modulo.Bloco.Curso.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
