@model IEnumerable<SurveyManager.Domain.Model.Implementation.Questao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Questões</h2>

<p>
    @Html.ActionLink("Adionar Questão", "Create", null, new { @class = "btn btn-primary" })
</p>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
